# c++
*.obj
*.gch
*.a
*.exe
*.out
*.app
*.stackdump

# node
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
coverage
.nyc_output
node_modules/
.npm
.eslintcache
*.tgz
.env
lib

.vscode
__pycache__
